.action {
  display: flex;
  justify-self: center;
  padding: 8px;
  text-align: center;
}

.fundCardContainer {
  display: flex;
  text-align: center;
  .fundcard {
    border-radius: 8px;
    border: 1px solid gray;
    width: 400px;
    padding: 8px;
    margin: 8px;
  }
}
